body {
    margin: 0;
    width: 100%;
    background-color: rgba(241, 241, 241, 1)
}

img {
    max-width: 100%;
    display: flex;
}

.container {
    margin: 0 160px;
}

/* ========================================== Header ======================================================= */
.header {
    font-family: Kanit;
    color: rgba(0, 0, 0, 1);
}

.header-logo-1 {
    padding: 24px 0;
    font-size: 18px;
}

.header-logo-2 {
    padding: 64px 0;
}

/* ========================================== News List ======================================================= */
.main {
    margin-top: 96px;
}

.news-block {
    font-family: Inter;
    color: rgba(0, 0, 0, 1);
}

.news {
    max-width: 100%;
}
.news img{
    width: 100%;
}

.news a {
    color: rgb(111, 109, 109);
    text-decoration: none;
}

.auth-logo img{
    width: 64px;
    height: 64px;
}

.info {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.authors {
    display: flex;
    justify-content: space-between;
}

.authors-box {
    display: flex;
}

.authors p {
    margin: 0 0 0 16px;
    font-size: 18px;
    font-weight: 500;
}

.authors a {
    font-size: 14px;
}

.title {
    margin: 70px 0 24px 0;
    font-size: 34px;
    font-weight: 700;
}

.text p {
    margin: 0 0 70px 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}

.post-title {
    margin: 70px 0 24px 0;
    font-size: 24px;
}

.post p {
    margin: 0;
    font-size: 24px;
    line-height: 36px;
}

/* .img-main {
    display: flex;
    max-height: 480px;
} */

.info-bottom {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
}

.comment {
    display: flex;
}

.comment img {
    width: 18px;
}

.comment p {
    margin: 0;
    margin-left: 7px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(183, 183, 183, 1);
}

.icon {
    height: 24px;
    display: flex;
    align-items: center;
}

.icon:first-child {
    margin-right: 17px;
}

.divider span:after {
    margin: 36px 0 0 0;
    content: '';
    border: 1px solid rgba(111, 109, 109, 0.364);
    display: block;
}

/* ========================================== Footer ======================================================= */
.footer {
    padding-bottom: 32px;
    display: flex;
    min-height: 414px;
    align-items: end;
    justify-content: end;
    text-align: right;
}

.footer p {
    margin: 0;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
}

.footer-menu, a{
    margin-bottom: 42px;
    color: rgb(111, 109, 109);
}

